<a href="https://colab.research.google.com/github/V13644/python_practice/blob/main/Global_AD_%5Berformance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('/content/archive (1).zip')

In [4]:
df.head()

,date,platform,campaign_type,industry,country,impressions,clicks,CTR,CPC,ad_spend,conversions,CPA,revenue,ROAS
0,2024-01-21,Google Ads,Search,Fintech,UAE,59886,2113,0.0353,1.26,2662.38,159,16.74,4803.43,1.80
1,2024-01-22,TikTok Ads,Search,EdTech,UK,135608,5220,0.0385,1.18,6159.60,411,14.99,64126.68,10.41
2,2024-06-15,TikTok Ads,Video,Healthcare,USA,92313,5991,0.0649,0.85,5092.35,267,19.07,10489.07,2.06
3,2024-01-02,TikTok Ads,Shopping,SaaS,Germany,83953,5935,0.0707,1.32,7834.20,296,26.47,50505.07,6.45
4,2024-02-22,TikTok Ads,Search,Healthcare,UK,91807,4489,0.0489,1.93,8663.77,107,80.97,3369.53,0.39

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1800 entries, 0 to 1799
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           1800 non-null   object
 1   platform       1800 non-null   object
 2   campaign_type  1800 non-null   object
 3   industry       1800 non-null   object
 4   country        1800 non-null   object
 5   impressions    1800 non-null   int64
 6   clicks         1800 non-null   int64
 7   CTR            1800 non-null   float64
 8   CPC            1800 non-null   float64
 9   ad_spend       1800 non-null   float64
 10  conversions    1800 non-null   int64
 11  CPA            1800 non-null   float64
 12  revenue        1800 non-null   float64
 13  ROAS           1800 non-null   float64
dtypes: float64(6), int64(3), object(5)
memory usage: 197.0+ KB

In [7]:
df.describe()

,impressions,clicks,CTR,CPC,ad_spend,conversions,CPA,revenue,ROAS
count,1800.000000,1800.000000,1800.000000,1800.000000,1800.000000,1800.000000,1800.000000,1800.000000,1800.000000
mean,102919.018889,3962.675556,0.038427,1.572756,6171.527272,181.562222,46.608961,30101.850450,6.450367
std,55740.900690,2941.858037,0.017082,0.800872,5776.996958,171.424239,41.185556,34560.032941,6.590986
min,5059.000000,91.000000,0.008900,0.280000,58.000000,2.000000,4.800000,142.690000,0.130000
25%,54948.000000,1678.000000,0.025400,0.950000,1966.587500,59.000000,20.202500,7275.757500,2.170000
50%,103653.000000,3318.000000,0.035550,1.460000,4393.860000,130.000000,33.375000,18362.965000,4.295000
75%,150470.250000,5628.000000,0.049800,2.050000,8455.830000,252.250000,56.812500,38963.385000,8.212500
max,199650.000000,16660.000000,0.095600,3.950000,38453.320000,1151.000000,335.860000,295028.260000,49.000000

In [8]:
df.isnull().sum()

date             0
platform         0
campaign_type    0
industry         0
country          0
impressions      0
clicks           0
CTR              0
CPC              0
ad_spend         0
conversions      0
CPA              0
revenue          0
ROAS             0
dtype: int64

In [9]:
df.duplicated().sum()

np.int64(0)

In [14]:
df = df.drop(columns=[     ##we drop these columns because they may leak information
    'revenue',             ## used to calculate ROAS
    'ad_spend',             ##used in ROAS formular
    'CTR',                  ###derived from clicks/impressions
    'CPC',                  ##derived from spends+clicks
    'CPA',                   ##derived from ad-spend/conversions
    ])

In [16]:
df.columns     ##after droping the columns

Index(['date', 'platform', 'campaign_type', 'industry', 'country',
       'impressions', 'clicks', 'conversions', 'ROAS'],
      dtype='object')

In [26]:
##FEATURE ENGINEERING

if 'date' in df.columns:
    df["date"] = pd.to_datetime(df["date"])
    df["month"] = df["date"].dt.month
    df["day_of_week"] = df["date"].dt.dayofweek
    df.drop(columns=["date"], inplace=True)

In [21]:
df.columns

Index(['date', 'platform', 'campaign_type', 'industry', 'country',
       'impressions', 'clicks', 'conversions', 'ROAS', 'month', 'day_of_week'],
      dtype='object')

In [22]:
df.head()

,date,platform,campaign_type,industry,country,impressions,clicks,conversions,ROAS,month,day_of_week
0,2024-01-21,Google Ads,Search,Fintech,UAE,59886,2113,159,1.80,1,6
1,2024-01-22,TikTok Ads,Search,EdTech,UK,135608,5220,411,10.41,1,0
2,2024-06-15,TikTok Ads,Video,Healthcare,USA,92313,5991,267,2.06,6,5
3,2024-01-02,TikTok Ads,Shopping,SaaS,Germany,83953,5935,296,6.45,1,1
4,2024-02-22,TikTok Ads,Search,Healthcare,UK,91807,4489,107,0.39,2,3

In [27]:
df.columns

Index(['platform', 'campaign_type', 'industry', 'country', 'impressions',
       'clicks', 'conversions', 'ROAS', 'month', 'day_of_week'],
      dtype='object')

In [31]:
##ENCODING CATEGORICAL VALUES....converting text data into numerical values

# List of columns to encode
categorical_cols = [
    "platform",
    "campaign_type",
    "industry",
    "country"
]

# Filter out columns that are no longer in the DataFrame
cols_to_encode = [col for col in categorical_cols if col in df.columns]

if cols_to_encode: # Only proceed if there are columns to encode
    df = pd.get_dummies(df, columns=cols_to_encode, drop_first=True)

# Convert boolean columns to integers (these are created by pd.get_dummies)
for col in df.columns:
    if df[col].dtype == 'bool':
        df[col] = df[col].astype(int)

In [29]:
df.head()

,impressions,clicks,conversions,ROAS,month,day_of_week,platform_Meta Ads,platform_TikTok Ads,campaign_type_Search,campaign_type_Shopping,...,industry_EdTech,industry_Fintech,industry_Healthcare,industry_SaaS,country_Canada,country_Germany,country_India,country_UAE,country_UK,country_USA
0,59886,2113,159,1.80,1,6,False,False,True,False,...,False,True,False,False,False,False,False,True,False,False
1,135608,5220,411,10.41,1,0,False,True,True,False,...,True,False,False,False,False,False,False,False,True,False
2,92313,5991,267,2.06,6,5,False,True,False,False,...,False,False,True,False,False,False,False,False,False,True
3,83953,5935,296,6.45,1,1,False,True,False,True,...,False,False,False,True,False,True,False,False,False,False
4,91807,4489,107,0.39,2,3,False,True,True,False,...,False,False,True,False,False,False,False,False,True,False

In [32]:
df.head()

,impressions,clicks,conversions,ROAS,month,day_of_week,platform_Meta Ads,platform_TikTok Ads,campaign_type_Search,campaign_type_Shopping,...,industry_EdTech,industry_Fintech,industry_Healthcare,industry_SaaS,country_Canada,country_Germany,country_India,country_UAE,country_UK,country_USA
0,59886,2113,159,1.80,1,6,0,0,1,0,...,0,1,0,0,0,0,0,1,0,0
1,135608,5220,411,10.41,1,0,0,1,1,0,...,1,0,0,0,0,0,0,0,1,0
2,92313,5991,267,2.06,6,5,0,1,0,0,...,0,0,1,0,0,0,0,0,0,1
3,83953,5935,296,6.45,1,1,0,1,0,1,...,0,0,0,1,0,1,0,0,0,0
4,91807,4489,107,0.39,2,3,0,1,1,0,...,0,0,1,0,0,0,0,0,1,0

In [33]:
###split features and target

X = df.drop(columns=["ROAS"])
y = df["ROAS"]

In [34]:
##TRAIN TEST SPLIT

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)